<BookTableCell @index={{@index}} @selectedBookIds={{@selectedBookIds}} @toggleSelection={{@toggleSelection}} @book={{@book}} >{{@book.name}}</BookTableCell>
<div class="table-cell {{if isStriped 'zebra'}} {{if isSelected 'selected'}}" {{action @toggleSelection @book this.isSelected}}>{{@book.author}}</div>
<div class="table-cell {{if isStriped 'zebra'}} {{if isSelected 'selected'}}" {{action @toggleSelection @book this.isSelected}}>{{@book.publicationYear}}</div>
<div class="table-cell {{if isStriped 'zebra'}} {{if isSelected 'selected'}}" {{action @toggleSelection @book this.isSelected}}>{{@book.pages}}</div>
<div class="table-cell {{if isStriped 'zebra'}} {{if isSelected 'selected'}}" {{action @toggleSelection @book this.isSelected}}>
  <button {{action @toggleHidden @book preventDefault=true}}>{{@toggleText}}</button>
  {{link-to 'Visit' 'books.book' @book.id tagName="button"}}
</div>
